*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
 padding: 1px;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, pink, yellow);
}

.todo-list{
    width: 100%;
    max-width: 540px;
    background-color: rgb(255, 255, 255);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.stroke{
    align-items: center;
    padding: 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    justify-content: space-between;
    height: 40px;
}
input {
    outline: none;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

.stroke button {
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    height: 40px;
    width: 70px;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    font-size: 17px;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: 555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #ccc;

}